*{margin:0;padding:0;}
.box{width:200px;height:200px;border-width:50px;border-style:solid;}
.red{border-color:red;}
.green{border-color:green;}
.blue{border-color:blue;}
.box + .box, .box + div{margin-top:20px;}